//
// Let's add some sensible defaults.
// ---------------------------------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
*:after,
*:before,
button,
input,
textarea {
	-webkit-font-smoothing: antialiased; // Anti-Aliasing on Chrome/Safari mac.
}

html {
	min-height: 100%;
	// height: 100%; // Disabled to enable scroll
	width: 100%;
	background-color: $color-body;
}

body {
	position: relative;
	height: 100%;
	width: 100%;

	background-color: $color-body;
	color: map-get($font-colors , 'base');
	font-family: $font-family-base;
	font-size: map-get($font-sizes, 'base');
	font-weight: map-get($font-weights, 'base');
	line-height: map-get($line-heights, 'base');

}

img {
	height: auto;
	max-width: 100%;
}

hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
hr {
	margin-bottom: $spacing;
	margin-top: 0;
}



// Remove Link styling.
a {
	color: inherit;
	text-decoration: none;
}

.iframe-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 56.2%; // 16/9
	overflow: hidden;
}

// Set default iframe styling
iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}


.container {
	@extend %clearfix;
	margin: 0 auto;
	max-width: $max-page-width;
	padding-left: $spacing/2;
	padding-right: $spacing/2;

	@include media(lap-and-up) {
		padding-left: $spacing;
		padding-right: $spacing;
	}

	&.mod--no-padding {
		padding: 0;
	}
}